################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/env
/venv
/venv
/Titanic/__pycache__
/venv
.vs
*.pyc
